<section id="footer">
  <footer class="footer">
    <div class="container">
      <div class="grid align-items-center text-center lg:text-left">
        
        <div class="col-12 lg:col-4 flex justify-content-center lg:justify-content-start">
          <ul class="list-none flex gap-3">
            <li><a href="#"><span class="pi pi-instagram"></span></a></li>
            <li><a href="#"><span class="pi pi-whatsapp"></span></a></li>
            <li><a href="#"><span class="pi pi-phone"></span></a></li>
            <li><a href="#"><span class="pi pi-telegram"></span></a></li>
          </ul>
        </div>

        <div class="col-12 lg:col-4 text-center">
          <a class="logo">marmoris</a>
        </div>

        <div class="col-12 lg:col-4 flex justify-content-center lg:justify-content-end">
          <ul class="list-none flex gap-4 social">
            <li><a href="#">تماس با ما</a></li>
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">روش های ارسال</a></li>
          </ul>
        </div>

        <div class="col-12 text-center mt-4">
          <h6>All Rights Reserved</h6>
          <p>Designed and Developed by <a href="https://apprad.ir">Apprad.ir</a></p>
        </div>

      </div>
    </div>
  </footer>
</section>
