<section id="footer">
  <footer class="footer">
    <div class="container">
      <div class="grid align-items-center text-center lg:text-left">
        
        <div class="col-12 lg:col-4 flex justify-content-center lg:justify-content-start">
          <ul class="list-none flex gap-3">
            <li><a href="#"><span class="pi pi-instagram"></span></a></li>
            <li><a href="#"><span class="pi pi-whatsapp"></span></a></li>
            <li><a href="#"><span class="pi pi-phone"></span></a></li>
            <li><a href="#"><span class="pi pi-telegram"></span></a></li>
          </ul>
        </div>

        <div class="col-12 lg:col-4 text-center">
          <a class="logo">Marmoris</a>
        </div>

        <div class="col-12 lg:col-4 flex justify-content-center lg:justify-content-end">
          <ul class="list-none flex gap-4 social">
            <li><a href="#hero">صفحه اصلی</a></li>
            <li><a href="#faqs"> سوالات متداول</a></li>
            <li><a href="#service"> محصولات</a></li>
          </ul>
        </div>

        <div class="col-12 text-center mt-4">
          <p class="text-xs text-color-secondary mb-1">تمامی حقوق محفوظ است</p>
          <p class="text-xs">طراحی و توسعه توسط <a href="https://apprad.ir" class="text-green-800 hover:text-pink-200 transition-colors">Apprad.ir</a></p>
        </div>
      </div>
    </div>
  </footer>
</section>
