
  .container {
    position: relative;
  }
  
  .test {
    width: 100%;
    background-image: url("/assets/images/pic2.jpg");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    background-attachment: scroll;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: white;
    mask: url("/assets/images/bottom-left.png") center / contain no-repeat, linear-gradient(hsl(100, 100%, 99%) 0 0);
    mask-composite: exclude;
    mask-size: 40rem;
    mask-position: bottom left;
  }
  
  .info {
    width: 400px;
    margin-left: 30px;
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .title {
    color: #fff;
    font-size: 42px;
  }
  
  .description {
    color: gainsboro;
    line-height: 1.5;
    margin-top: -15px;
  }
  
  .btns {
    position: absolute;
    left: 5%;
    transform: translateX(-5%);
    z-index: 1;
    bottom: -5%;
    justify-content: center;
    align-items: center;
  }
  
  h3 {
    font-size: 35px;
    margin-left: 20px;
  }
  
  .start,
  .download {
    border: none;
    width: max-content;
    padding: 15px 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 15px;
    font-family: "Ubuntu";
  }
  
  .download {
    border: 2px solid #000000;
    background: none;
    font-weight: 500;
  }
  
  .brands {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 5px;
    width: calc(88% - 48rem);
    gap: 15px;
    left: 1%;
  }
  
  .brand_icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .brand_icons img {
    width: 80px;
    aspect-ratio: 3 / 2;
  }
  
  .card_wrapper {
    position: absolute;
  }
  
  .card {
    width: 200px;
    height: 100px;
    background-color: #cdaa75;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30px;
    position: relative;
    mask: url("/assets/images/top-left.svg") center / contain no-repeat, linear-gradient(#ffffff 0 0);
    mask-composite: exclude;
    mask-size: 4rem;
    mask-position: left top;
  }
  
  .card_one {
    top: 100px;
    right: 450px;
  }
  
  .text {
    position: absolute;
    bottom: 10px;
    left: 18px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
  }
  
  .text>p:nth-child(1) {
    font-size: 18px;
    font-weight: 300;
  }
  
  .text>p:nth-child(2) {
    font-size: 18px;
  }
  
  .card_two {
    bottom: 100px;
    right: 60px;
  }
  
  .card_icon {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    top: 2px;
    left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000008b;
    position: absolute;
    color: #fff;
    font-size: 14px;
  }
  
  .chart {
    position: absolute;
    bottom: 150px;
    left: 600px;
    width: 190px;
    background-color: #0000005b;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ffffff39;
  }
  
  .chart_bottom {
    color: #fff;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .container {
      mask: none;
      border-radius: 40px;
      height: 60vh;
    }
  
    .info {
      width: 100%;
      margin-left: 0;
      padding: 0 15px;
      top: 10%;
    }
  
    .title {
      font-size: 28px;
    }
  
    .description {
      margin-top: -30px;
      font-size: 14px;
    }
  
    .btns {
      display: none;
  
    }
  
    h3 {
      display: none;
    }
  
    .start,
    .download {
      padding: 10px 30px;
      font-size: 12px;
    }
  
    .card {
      width: 150px;
      height: 90px;
    }
  
    .card-two {
      bottom: -15%;
  
    }
  
    .card_one {
      display: none;
    }
  }