<div class="container my-5">
    <div class="test">
        <div class="info">
            <p class="title">
                Everything's prettier with Hippo
            </p>
            <p class="description">
                Hippo's one of those brands you can hit up for corporate buys or gifts. We're all about bringing beauty
                and authenticity to the community. </p>
        </div>
    </div>
    <div class="btns">
        <button class="download">SEE PRODUCT</button>
        <h3>BEAUTIFUL </h3>
        <h3>MINDSET</h3>
    </div>

    <div class="card_wrapper card_one">
        <div class="card">
            <div class="text">
                <p>Experienced Trainer</p>
            </div>
        </div>
        <div class="card_icon"><i class="fa-solid fa-person"></i></div>
    </div>

    <div class="card_wrapper card_two">
        <div class="card">
            <div class="text">
                <p>Happy Customers</p>
            </div>
        </div>
        <div class="card_icon"><i class="fa-solid fa-star"></i></div>
    </div>

</div>
