.box {
    cursor: pointer;
    position: relative;
    margin-bottom: 8px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

i {
    position: absolute;
    padding: 15px;
    opacity: 0.8;
    transition: .3s ease;
    top: 0;
    right: 0;
    color: rgb(248, 228, 203);
    font-size: 30px;
}

.box:hover i {
    opacity: 1;
}