<div class="container my-5">
  <div class="grid">
    <div class="col-12 md:col-4">
      <div class="box">
        <img src="/assets/images/pic1.jpg" alt="" class="image">
        <i class="pi pi-arrow-up-right"></i>
      </div>
      <div class="box">
        <img src="/assets/images/pic3.jpg" alt="" class="image">
        <i class="pi pi-arrow-up-right"></i>
      </div>
    </div>

    <div class="col-12 md:col-4">
      <div class="box">
        <img src="/assets/images/pic5.jpg" alt="" class="image">
        <i class="pi pi-arrow-up-right"></i>
      </div>
      <div class="box">
        <img src="/assets/images/pic4.jpg" alt="" class="image">
        <i class="pi pi-arrow-up-right"></i>
      </div>
    </div>

    <div class="col-12 md:col-4">
      <div class="box">
        <img src="/assets/images/pic4.jpg" alt="" class="image">
        <i class="pi pi-arrow-up-right"></i>
      </div>
      <div class="box">
        <img src="/assets/images/pic6.jpg" alt="" class="image">
        <i class="pi pi-arrow-up-right"></i>
      </div>
    </div>

  </div>
</div>