:host::ng-deep .p-datatable .p-datatable-header {
    font-size: 14px;
    text-align: right;
    font-family: myfont !important;
}

:host::ng-deep .p-datatable .p-datatable-thead>tr>th {
    font-size: 13px;
    text-align: right;
    font-family: myfont !important;
}

:host::ng-deep .p-datatable .p-datatable-thead>tr {
    border-bottom: 1px solid #d7d9db;
}

:host::ng-deep .p-datatable .p-datatable-tbody>tr {
    border-bottom: 1px solid #d7d9db;
}

:host::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    font-family: myfont !important;
    font-size: 14px;
    text-align: right;
}

:host::ng-deep .p-button {
    border-color: var(--color1) !important;
    background-color: var(--color1) !important;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
}

:host::ng-deep .p-button .p-button-icon-right {
    margin-right: 5px;
    font-size: 20px;
}

:host::ng-deep .p-button .p-button-label {
    font-family: myfont !important;
    font-size: 12px;
}




:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-size: 16px;
    font-family: myfont !important;
    margin-right: 5px;
}

:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    font-size: 16px;
    font-family: myfont !important;
}

:host::ng-deep .p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
    margin-left: 5px;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
    text-align: left !important;
}

:host::ng-deep .p-datatable .p-datatable-thead>tr>th {
    font-size: 13px;
    text-align: right;
    font-family: myfont !important;
}

:host::ng-deep .p-datatable .p-datatable-thead>tr {
    border-bottom: 1px solid #d7d9db;
}

:host::ng-deep .p-datatable .p-datatable-tbody>tr {
    border-bottom: 1px solid #d7d9db;
}

:host::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    font-family: myfont !important;
    font-size: 14px;
    text-align: right;
    padding: 10px;
}

:host::ng-deep .p-datatable-tfoot>tr {
    border-bottom: 1px solid #d7d9db;
}

:host::ng-deep .p-datatable .p-datatable-footer {
    font-family: myfont !important;
    font-size: 14px !important;
    text-align: right;
}

:host::ng-deep .p-paginator .p-paginator-current {
    font-family: myfont !important;
    font-size: 14px;
}

:host::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    font-family: myfont !important;
}

img {
    border-radius: 5px;
}

h2 {
    font-size: 22px;
    color: #777;
    font-family: myfont !important;
    margin: 20px 5px;
}

:host::ng-deep .p-button.p-button-icon-only {
    border-radius: 5px;
    padding: 2px;
    width: 30px;
    background-color: transparent;
    border: none;
    color: var(--color1);
    margin-right: 7px;
}

:host::ng-deep .p-button.p-button-icon-only:hover {
    background-color: rgba(#aa8b77, .2);
}

:host::ng-deep .p-inputtext {
    font-size: 12px;
}

:host::ng-deep .p-button .p-button-icon-left {
    margin-left: 5px;
}

:host::ng-deep .p-button {
    background-color: var(--color1);
    border-color: var(--color1);
    border-radius: 5px;
    margin-right: 3px;
}

:host::ng-deep .p-button:hover {
    background-color: var(--color1);
    border-color: var(--color1);
}

:host::ng-deep .p-button .p-button-label {
    font-family: myfont;
    font-size: 13px;
}

:host::ng-deep .p-inputtext {
    font-family: myfont !important;
    font-size: 14px;
}

.card {
    padding: 25px;
}

:host::ng-deep .p-stepper .p-stepper-header .p-stepper-action .p-stepper-number {
    font-family: myfont !important;
    font-size: 14px;
    margin-left: 5px;
}

:host::ng-deep .p-stepper .p-stepper-header .p-stepper-action .p-stepper-title {
    font-family: myfont !important;
    font-size: 14px;
    margin-left: 5px;
}

:host::ng-deep .p-stepper .p-stepper-header {
    padding: 10px 5px;
}

:host::ng-deep .p-stepper .p-stepper-nav {
    padding: 5px;
    margin: 0;
    
}
:host::ng-deep .p-stepper-separator{
background-color: #999;
}
:host::ng-deep .p-stepper .p-stepper-header.p-highlight .p-stepper-title {
    font-family: myfont !important;
    font-size: 14px;
}

input,
:host::ng-deep .p-inputtext,
:host::ng-deep .p-dropdown,
:host::ng-deep .p-chips,
.p-inputtext,
.p-dropdown,
.p-chips,
textarea {
    width: 100% !important;
    border: 1px solid #d1d5db;
    font-family: myfont !important;
}

label {
    margin-bottom: 10px;
    font-family: myfont !important;
    font-size: 14px;
}

:host::ng-deep .p-dropdown-item {
    font-family: myfont !important;
    font-size: 14px;
}

:host::ng-deep .p-button.p-button-icon-only {
    color: #fff;
    margin-right: 0 !important;
    margin-left: 0 !important;
    font-size: 10px !important;
    // background-color: #f1dddd !important;
}

:host::ng-deep .p-inputNumber {
    //   border-radius: 5px;
}

.summary {
    border-right: #ddd 2px dashed;
}

h5 {
    font-family: myfont !important;
    font-size: 14px;
}

h4 {
    font-family: myfont !important;
    font-size: 14px;
}

.box {
    padding: 20px;
}

@media screen and (max-width: 991px) {
    :host::ng-deep .p-dialog {
        width: 95%;
    }

    .summary {
        border: none
    }
}



:host::ng-deep .p-dataview .p-dataview-content {
    font-family: myfont !important;
    font-size: 14px;
}

:host::ng-deep .p-inputtext {
    font-family: myfont !important;
    font-size: 12px;
}

:host::ng-deep .p-datepicker {
    padding: 5px;
    margin: 0;
}

:host::ng-deep .p-datepicker table th>span {
    font-family: myfont !important;
    font-size: 12px;
    margin: 0;
}

:host::ng-deep .p-datepicker td>span {
    font-family: myfont !important;
    font-size: 12px;
}

input,
:host::ng-deep .p-inputtext {
    width: 100% !important;
    border: 1px solid #d1d5db;
    height: 45px;
    border-radius: 5px;
}


:host::ng-deep .ng-persian-datepicker .datepicker-outer-container {
    font-family: myfont;
}

:host::ng-deep .datepicker-outer-container .datepicker-inner-container .days-container .day-col .dp-btn {
    background-color: rgba(#777, .1);
}

:host::ng-deep .datepicker-outer-container .datepicker-inner-container .days-container .day-col .dp-btn:hover {
    background-color: var(--color1) !important;
}

:host::ng-deep .datepicker-outer-container .datepicker-inner-container .days-container .dp-btn:hover {
    background-color: var(--color1) !important;
}

:host::ng-deep .datepicker-outer-container .datepicker-inner-container .the-toolbox .the-item:hover {
    background-color: var(--color1) !important;
}

:host::ng-deep .datepicker-outer-container .datepicker-inner-container .days-container .day-col .dp-btn.selected.today {
    background-color: var(--color1) !important;
}