:host::ng-deep .p-breadcrumb {
    margin: 20px 15px 0;
    font-family: farsi !important;
    border: 1px solid rgba(#555, .2);
  }
  
  :host::ng-deep .p-breadcrumb .p-icon {
    display: none;
  }
  
  :host::ng-deep .p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-icon {
    margin-right: -10px;
    margin-left: 5px;
  }
  
  :host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-size: 16px;
    font-family: farsi !important;
    margin-right: 5px;
  }
  
  :host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    font-size: 16px;
    font-family: farsi !important;
  }
  
  :host::ng-deep .p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
  .p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
    margin-left: 5px;
  }
  
  :host ::ng-deep .p-dialog .p-dialog-footer {
    text-align: left !important;
  }
  
  :host::ng-deep .p-datatable .p-datatable-thead>tr>th {
    font-size: 13px;
    text-align: right;
    font-family: farsi !important;
  }
  
  :host::ng-deep .p-datatable .p-datatable-thead>tr {
    border-bottom: 1px solid #d7d9db;
  }
  
  :host::ng-deep .p-datatable .p-datatable-tbody>tr {
    border-bottom: 1px solid #d7d9db;
  }
  :host::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    font-family: farsi !important;
    font-size: 14px;
    text-align: right;
  }
  
  :host::ng-deep .p-paginator .p-paginator-current {
    font-family:farsi !important;
    font-size: 14px;
  }
  
  :host::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    font-family: farsi !important;
  }
  
  img {
    border-radius: 5px;
  }
  
  :host::ng-deep .p-button.p-button-icon-only {
    border-radius: 5px;
    padding: 2px;
    width: 30px;
    background-color: transparent;
    border: none;
    color: var(--color1);
    margin-right: 7px;
  }
  
  :host::ng-deep .p-button.p-button-icon-only:hover {
    background-color: rgba(#aa8b77, .2);
  }
  
  :host::ng-deep .p-inputtext {
    font-size: 12px;
  }
  
  :host::ng-deep .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    font-size: 18px;
    color: #444;
    font-family: farsi !important;
    margin-right: 10px;
  }
  
  :host::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
    font-family: farsi !important;
  }
  
  :host::ng-deep .p-button .p-button-icon-left {
    margin-left: 5px;
  }
  
  :host::ng-deep .p-dialog .p-dialog-footer {
    text-align: left;
  }
  
  :host::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    display: none;
  }
  
  :host::ng-deep .p-dialog {
    width: 35%;
  }
  
  :host::ng-deep .p-button {
    background-color: var(--color1);
    border-color: var(--color1);
    border-radius: 5px;
    margin-right: 2px;
  }
  
  :host::ng-deep .p-button:hover {
    background-color: var(--color1);
    border-color: var(--color1);
  }
  
  :host::ng-deep .p-button .p-button-label {
    font-family:farsi !important;
    font-size: 16px;
  }
  
  :host::ng-deep .p-inputtext {
    font-family: farsi !important;
    font-size: 14px;
  }
  
  .card {
    padding: 25px;
  }
  
  input,
  :host::ng-deep .p-inputtext,
  :host::ng-deep .p-dropdown,
  :host::ng-deep .p-chips,
  .p-inputtext,
  .p-dropdown,
  .p-chips,
  textarea {
    width: 100% !important;
    border: 1px solid #d1d5db;
  }
  
  @media screen and (max-width: 991px) {
    :host::ng-deep .p-dialog {
      width: 95%;
    }
  }