:host::ng-deep .p-divider .p-divider-content {
  background-color: #fcf0f8cf;
  font-family: 'num';
  font-size: 20px;
  border-top: #161414 .8px solid;

}

.main {
  direction: ltr;
}

.title {
  font-family: 'num';
  font-size: 13px;
  color: #fff;
  justify-content: center;
  padding: 70px;
  background-image: url('/assets/images/2.png');
  background-size: cover;
  background-position: center;
}

.main-title {
  font-size: 15px;
  color: #fff;
}

.name {
  font-family: 'num';

}

.price {
  font-family: 'num';
  color: rgb(83, 82, 82);
  font-size: 18px;
}

:host::ng-deep .p-tag {
  padding: 9px;
  background: #cf748b;
  border-radius: 55px;
  padding-left: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4); /* Enhance shadow on hover */
}

:host::ng-deep .p-carousel .p-carousel-indicators {
  padding: 0;
  margin: 0;
}

.box {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  direction: ltr;
}

.img_1,
.img_2 {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.img_2 {

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.9s ease;
}

.box:hover .img_2 {
  opacity: 1;
}

:host::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #921c1c;
  border-radius: 20px;
  display: none;

}

:host::ng-deep .p-carousel .p-carousel-indicators .p-carousel-indicator button {
  border-radius: 20px;
  background-color: #fff;
  display: none;

}

::ng-deep .p-carousel .p-carousel-content .p-carousel-prev {
  background-color: #b4c383;
  border-radius: 20px;
  color: #fff;
  margin: 10px;

}

::ng-deep .p-carousel .p-carousel-content .p-carousel-next {
  margin: 10px;
  background-color: #b4c383;
  border-radius: 20px;
  color: #fff;
}

@media (max-width: 991px) {
  .card {
    padding: 10px 0 0 0 !important;

  }



}



:host::ng-deep .p-button {
  border-color: #fff;
  border-radius: 5px;
  padding: 8px 15px;
  color: #fff;
  transition: 1s;

}

:host::ng-deep .p-button:hover .p-button-icon-left {
  transform: translateX(-1px);

}

:host::ng-deep .p-button .p-button-icon-left {
  margin-right: 7px;
  font-size: 14px;
}

:host::ng-deep .p-button .p-button-label {
  font-family: 'num';
  font-size: 12px;
}