<div class="layout lg:mx-6 mx-2 my-4 flex">
    <div class="sidebar flex flex-col gap-3">
      <p-button icon="pi pi-home" [label]="isMobile ? '' : 'داشبورد'" styleClass="sidebar-btn"
      [routerLink]="['/profile']" routerLinkActive="active-link"></p-button>

      <p-button icon="pi pi-shopping-cart" [label]="isMobile ? '' : 'سفارشات'" styleClass="sidebar-btn"
                [routerLink]="['/profile/order']"></p-button>
  
      <p-button icon="pi pi-users" [label]="isMobile ? '' : 'ویرایش پروفایل '" styleClass="sidebar-btn"
                [routerLink]="['/profile/account']"></p-button>
  
      <p-button icon="pi pi-sign-out" [label]="isMobile ? '' : 'خروج'" styleClass="sidebar-btn p-button-danger mt-auto"
                (onClick)="logout()"></p-button>
    </div>
  
    <div class="main-content flex-1 ml-4">
      
      <div class="stats flex gap-4 mb-6">
        <div class="stat-box green cursor-pointer" [routerLink]="['/profile/order']">
          <p>سفارشات</p>
        </div>
        <div class="stat-box green cursor-pointer" [routerLink]="['/profile/account']">
          <p>ویرایش پروفایل</p>
        </div>
        <div class="stat-box green cursor-pointer" (click)="logout()">
          <p>خروج از حساب کاربری</p>
        </div>
      </div>
  
      <router-outlet></router-outlet>
  
    </div>
  </div>
  