<p-toast position="center"></p-toast>
<div class="container-fluid mt-4 text-right">
    <div class="row pnl-content">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="row">
                <div class="col-lg-3 col-sm-12 mb-3">
                    <label class="form-label"> شماره موبایل</label>
                    <input type="text" pKeyFilter="int" formControlName="mobile" maxlength="11" minlength="11"
                        name="mobile" pInputText placeholder="  شماره موبایل" required />
                </div>
                <div class="col-lg-3 col-sm-12 mb-3">
                    <label class="form-label">نام و نام خانوادگی </label>
                    <input name="fullName" type="text" pInputText placeholder="نام و نام خانوادگی"
                        formControlName="fullName" />
                </div>
                <div class="col-lg-3 col-sm-12 mb-3">
                    <label class="form-label">تلفن ثابت</label>
                    <input type="text" pInputText placeholder="تلفن ثابت" formControlName="phone" />
                </div>
                <div class="col-lg-3 col-sm-12 mb-3">
                    <label class="form-label">ایمیل</label>
                    <input type="text" pInputText placeholder="ایمیل" formControlName="email" />
                </div>
            </div>
            <div class="row">
                <p-fileUpload chooseLabel="انتخاب تصویر" uploadLabel="آپلود تصویر" cancelLabel="انصراف"
                    [customUpload]="true" (uploadHandler)="onFileUpload($event)"
                    invalidFileSizeMessageDetail="حداکثر سایز فایل 2 مگابایت می باشد"
                    invalidFileSizeMessageSummary="اندازه فایل بیش از حد مجاز می باشد" accept="image/jpeg,image/png"
                    [maxFileSize]="2000000">
                </p-fileUpload>
            </div>
            <div class="row text-center mt-3">
                <p-button type="submit" label="ثبت"></p-button>
            </div>
        </form>
    </div>
</div>