<p-table [value]="order.items" responsiveLayout="stack" dataKey="_id">
    <ng-template pTemplate="caption">
        کد سفارش: {{order.code}}
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>تصویر</th>
            <th>عنوان</th>
            <th>رنگ</th>
            <th>تعداد</th>
            <th>قیمت</th>
            <th>تخفیف</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowIndex="rowIndex" let-item let-expanded="expanded">
        <tr>
            <td><img width="60px" [src]="item.image"></td>
            <td>{{item.title}}</td>
            <td>{{item.color}}</td>
            <td>{{item.number}}</td>
            <td>{{item.price}}</td>
            <td>{{item.discountPercent}}%</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <tr>
            <th>
                جمع کل :
            </th>
            <td>{{order.totalAmount/10|number}} تومان</td>
        </tr>
    </ng-template>

</p-table>