::ng-deep .p-stepper-title {
    font-family: 'num' !important;
    font-size: 10px;
}

.header-with-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-with-icon i {
    font-size: 18px;
    margin-bottom: 8px;
}

.header-with-icon span {
    font-family: 'num' !important;

    font-size: 13px;
}

:host::ng-deep .p-stepper .p-stepper-header .p-stepper-action .p-stepper-number {
    font-family: 'num' !important;
    font-size: 12px;
    background: #cf748b;
    border-color: #9a0303;
    color: #59595c;
}





:host::ng-deep .p-stepper .p-stepper-header .p-stepper-action {
    background-color: transparent;
}

:host::ng-deep .p-dataview .p-dataview-content {
    background-color: transparent;
    color: #4b5563;
    border: 0 none;
    padding: 0;
}

.counter {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #EEF1DA;
    // border: 1px solid #cf748b;
    border-radius: 35px;

}

.btn {
    color: #cf748b;
    font-size: 15px;
    border: none;
    background-color: transparent !important;
    cursor: pointer;
    border-radius: 35px;
    // color: #59595c;
}

.text {
    font-family: 'num';
    font-size: 16px;
}

.text-xs {
    font-family: 'num';

}

.custom-cardd {
    background-color: #dae8d3 !important;
}

.text-sm {
    font-family: 'num';
}

span {
    font-family: 'num';

}

strong {
    font-family: 'num';

}

.text-lg {
    font-family: 'num';
}

:host::ng-deep .p-stepper-panels {
    background-color: #dae8d3 !important;
}

.surface-card {
    background-color: #f2f3e9 !important;
}

.custom-card {
    padding: 1rem;
    border-radius: 5px;
}

button {
    font-size: 15px;
    border: none;
    background-color: #b3c88f;
    cursor: pointer;
    border-radius: 35px;
    color: #59595c;
}

:host::ng-deep .p-stepper-panel {
    background-color: transparent !important;
    box-shadow: none !important;
}

:host::ng-deep .p-datatable .p-datatable-thead>tr>th {
    font-size: 13px;
    text-align: right;
    font-family: 'num';
}

:host::ng-deep .p-datatable .p-datatable-thead>tr {
    border-bottom: 1px solid #d7d9db;
}

:host::ng-deep .p-datatable .p-datatable-tbody>tr {
    border-bottom: 1px solid #d7d9db;
}

:host::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    font-family: 'num';
    font-size: 14px;
    text-align: right;
}

:host::ng-deep .p-button {
    font-family: 'num';
    border-color: transparent !important;
    background-color: #b3c88f;
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



:host::ng-deep .p-button .p-button-label {
    font-family: 'num';
    font-size: 15px;
    color: #fff;
}




:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
    font-size: 16px;
    font-family: 'num';
    margin-right: 5px;
}

:host::ng-deep .p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
    font-size: 16px;
    font-family: 'num';
}

:host::ng-deep .p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
    margin-left: 5px;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
    text-align: left !important;
}

:host::ng-deep .p-datatable .p-datatable-thead>tr>th {
    font-size: 13px;
    text-align: right;
    font-family: 'num';
}

:host::ng-deep .p-datatable .p-datatable-thead>tr {
    border-bottom: 1px solid #d7d9db;
}

:host::ng-deep .p-datatable .p-datatable-tbody>tr {
    border-bottom: 1px solid #d7d9db;
}

:host::ng-deep .p-datatable .p-datatable-tbody>tr>td {
    font-family: 'num';
    font-size: 14px;
    text-align: right;
    padding: 10px;
}

:host::ng-deep .p-datatable-tfoot>tr {
    border-bottom: 1px solid #d7d9db;
}

:host::ng-deep .p-datatable .p-datatable-footer {
    font-family: 'num';
    font-size: 14px !important;
    text-align: right;
}

:host::ng-deep .p-paginator .p-paginator-current {
    font-family: 'num';
    font-size: 14px;
}

:host::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    font-family: 'num';
}

img {
    border-radius: 5px;
}

h2 {
    font-size: 22px;
    color: #777;
    font-family: 'num';
    margin: 20px 5px;
}

.p-error {
    font-family: 'num';

}


:host::ng-deep .p-inputtext {
    font-size: 12px;
}

:host::ng-deep .p-button .p-button-icon-left {
    margin-left: 5px;
}


:host::ng-deep .p-inputtext {
    font-family: 'num';
    font-size: 14px;
}

.card {
    padding: 25px;
}



input,
:host::ng-deep .p-inputtext,
:host::ng-deep .p-dropdown,
:host::ng-deep .p-chips,
.p-inputtext,
.p-dropdown,
.p-chips,
textarea {
    width: 100% !important;
    border: 1px solid #d1d5db;
    font-family: 'num';
}

label {
    margin-bottom: 10px;
    font-family: 'num';
    font-size: 14px;
}

:host::ng-deep .p-dropdown-item {
    font-family: 'num';
    font-size: 14px;
}

:host::ng-deep .p-button.p-button-icon-only {
    color: #fff;
    margin-right: 0 !important;
    margin-left: 0 !important;
    font-size: 10px !important;
    // background-color: #f1dddd !important;
}


.summary {
    border-right: #ddd 2px dashed;
}



h4 {
    font-family: 'num';
    font-size: 14px;
}

.box {
    padding: 20px;
}

@media screen and (max-width: 991px) {
    :host::ng-deep .p-dialog {
        width: 95%;
    }

    .summary {
        border: none
    }
}



:host::ng-deep .p-dataview .p-dataview-content {
    font-family: 'num';
    font-size: 14px;
}

:host::ng-deep .p-inputtext {
    font-family: 'num';
    font-size: 12px;
}

:host::ng-deep .p-datepicker {
    padding: 5px;
    margin: 0;
}

:host::ng-deep .p-datepicker table th>span {
    font-family: 'num';
    font-size: 12px;
    margin: 0;
}
input,
:host::ng-deep .p-inputtext {
    width: 100% !important;
    border: 1px solid #d1d5db;
    height: 45px;
    border-radius: 5px;
}
.p-stepper.p-stepper-vertical .p-stepper-panel:has(~ .p-stepper-panel-active) .p-stepper-separator {
    background-color: #6366F1 !important;
  }