<!-- <h1 class="title">WORK</h1>
<p class="description">
    As a leading London-based creative agency, we offer a wide range of services that include 
    <a href="#">branded content</a>, <a href="#">film and photography</a>, <a href="#">branding</a>, 
    <a href="#">website design</a>, <a href="#">e-commerce</a>, and <a href="#">digital marketing</a>, 
    all targeted at the fashion and lifestyle sectors.
</p> -->

<div class="gallery">
  <div class="gallery-item" *ngFor="let image of images">
    <img [src]="image" alt="Gallery Image" class="gallery-image">
  </div>
</div>